h1, p {
    font-family: fantasy;
    text-align: center;
    color: green;
}

nav {
    width: 100%;
}

main {
    text-align: center;
    margin: 0;
}

ul {
    text-align: center;
}

li {
    display: inline;
    margin: 1em;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer__text h4 {
    color: purple;
}

.short-bio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: 1px solid black;
    min-width: 30%; 
    max-height: 60%;
}

.short-bio p{
    width: 50%;
    margin: 2em;
}

@media screen and (max-width:1046px) {
    .short-bio {
        display: block;
        margin: 1em 0em;
        padding: 10px;
        overflow: clip;
    }
    
    .short-bio p {
        font-size: 16px;
        text-align: center;
        width: 100%;
        margin: 10px;
    }

    img {
        display: inline-block;
    }

    section {
        margin: 2em;
    }

}

img {
    max-width: 40%;
}

section {
    text-align: center;
    margin: 2em 10em;
}
